#wrapper{
    margin: 0 auto;
    max-width: 1500px;
    font-size: 18px;
}

a{
    color: #018ad2;
    text-decoration: none;
}

a :hover, :focus{
    color: #c00;
}

button{
    padding: 8px 12px;
}

p{
    margin-bottom: 16px;
}

ul{
    padding-left: 1%;
}

iframe{
    border: 1px dashed #ccc;
}

.img-blok img{
    height: 400px;
}

.colorversion-blok img{
    height: 100px;
}

.stars{
    height:30px;
}
.strong-text{
font-weight: bold;
}

.memory-conf button{
    margin-left: 5px;
}

.logo{
    display: inline-flex;
}

.logo img{
    width: 30px;
    height: 30px;
}

.logo h1{
    font-size: 2vh;
    margin-left: 5%;
}

.sravni th, td{
    border: 3px double black;
    text-align: left;
    padding: 3px;
}

.otz{
    display:flex;
    width: 300px;
    justify-content: space-between;
    margin: 1% 0 1% 0;
}

.span-grey{
    color: #aaaaaa;
}

.klients{
    display: flex;
}

.client-photo img{
    width: 200px;
    margin-right: 16px;
}